[submodule "sub-backend"]
	path = sub-backend
	url = https://github.com/gezielcarvalho/sub-backend.git
[submodule "sub-frontend"]
	path = sub-frontend
	url = https://github.com/gezielcarvalho/sub-frontend.git
[submodule "shared-code"]
	path = https://github.com/gezielcarvalho/shared-code.git
	url = ./shared-code
