[submodule "sub-backend"]
	path = sub-backend
	url = https://github.com/gezielcarvalho/sub-backend.git
	branch = main
[submodule "sub-frontend"]
	path = sub-frontend
	url = https://github.com/gezielcarvalho/sub-frontend.git
	branch = main
[submodule "shared-code"]
	path = shared-code
	url = https://github.com/gezielcarvalho/shared-code.git
	branch = main
